.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background-color: rgb(63, 85, 114);
}

.cronometro-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 450px;
    height: 650px;

    margin: 20px;

    background-color: cornflowerblue;
    border-radius: 2rem;
    box-shadow: 0.4rem 0.2rem 0.4rem 0.4rem hsla(0, 0%, 0%, 0.192);
}

.cronometro-display h1 {
    color: rgb(63, 85, 114);
}

.circle-out {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 60%;
    height: 40%;

    border-radius: 100%;
    border: 0.4rem solid rgba(0, 0, 0, 0.527);
}

.circle-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 90%;
    height: 90%;

    border-radius: 100%;
    border: 0.4rem solid rgb(63, 85, 114);
}

.timer {
    font-size: 4rem;
}

.controlers {
    margin-bottom: 6rem;
}

.controlers img {
    margin: 0 4rem;
    cursor: pointer;
    box-shadow: 0.2rem 0.2rem 0.4rem 0.2rem hsla(0, 0%, 0%, 0.527);
}

.controlers img:hover {
    transform: scale(1.08);
}

.pause-button {
    background-color: rgb(63, 85, 114);
    padding: 1.6rem;
    border-radius: 5rem;
}

.play-button {
    background-color: rgb(63, 85, 114);
    padding: 1.6rem;
    border-radius: 5rem;
}

.refresh-button {
    background-color: rgb(63, 85, 114);
    padding: 1.6rem;
    border-radius: 5rem;
}


@media (max-width:468px) {
    .cronometro-display {
        width: 90%;
        height: 80%;
    }

    .circle-out {
        width: 80%;
        height: 40%;
    }

    .controlers {
        display: flex;
    }

    .controlers img {
        margin: 0 2rem;
    }

    .timer {
        font-size: 4rem;
    }

}



@media (max-height: 736px) {
    .circle-out {
        width: 60%;
    }

    .timer {
        font-size: 3.4rem;
    }
}

@media (max-width: 375px) {
    .circle-out {
        width: 68%;
    }

    .timer {
        font-size: 3.4rem;
    }
}

@media (width: 1024px) {
    .circle-out {
        width: 50%;
    }
    .timer {
        font-size: 3.4rem;
    }
}